
.main-banner{
    background-image:url('/dist/images/bg-1.jpg');
    background-size:cover;
    background-position: center top;
}
.social-links .btn{
    width:2.2rem;
    height:2.2rem;
    line-height:2.2rem;
}
.fill-light{
    fill:#ffffff;
}
.social-links a svg{
    fill:#ffffff;
    border:1px solid #fff;
}

.social-links a:hover svg{
    fill:#000000;
}

.banner-wrapper{
    background-color:rgba(0,0,0,.5);
    height:100%;
}
.portfolio-header {
    z-index: 1;
    padding: 5% 0 23% 0;
}
.portfolio{
    position:relative;
    margin-top:-20%;
    z-index:1;
}
.rs-about-image{
    position:relative;z-index:1;padding:.8rem
}
.rs-about-image img{
    border-radius:.5rem
}
.rs-about-image:after,
.rs-about-image:before{
    content:" ";
    display:block;
    width:50%;
    height:50%;
    position:absolute;
    z-index:-1;
    border-radius:.2rem;
    background-image:linear-gradient(90deg,var(--bs-primary),var(--bs-success))
}
.rs-about-image:before{
    border-top-right-radius:.5rem;right:0;top:0
}
.rs-about-image:after{
    border-bottom-left-radius:.5rem;bottom:0;left:0
}
.our-clients{
    background-image:url('/dist/images/clients.png');
    height:100px;
    background-size:90%;
    bacgrkound-repeat:repeat-x;
    animation: moves 15s infinite linear;
    /*
    background-size: 100vw auto;
    animation: moves 15s infinite linear;
    height: 100px;
    margin: 0;
    display: flex;
    background-repeat:repeat-x;
    width:100%;
    */
}
.rs-card {
    position:fixed;
}
@keyframes moves {
    to {
        background-position: -100vw 0%;
    }
}
@media screen and (max-width:767px){
    .our-clients{
        height:50px;
        background-size:180%;
    }
    .portfolio-row {
        max-height:400px;
        overflow:auto;
    }
}